.description{
    color:#353b48 !important
}
.gt-meta{
    z-index: 8 !important
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  width:8px;
//   height:1px;
  background-color: #88c1ea;
  background linear-gradient(#88c1ea, #e84118)
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  height:8px;
  background-color: #88c1ea;
  background linear-gradient(to right,#88c1ea, #e84118)
}
.nav-link.action-button{
    letter-spacing: 2px;
    background linear-gradient(to right,#88c1ea, #e84118);
}
.home .hero .action-button{
    background linear-gradient(to right,#88c1ea, #e84118);
    border-bottom: 1px solid #dcdde1;
}
.home .hero .action-button:hover{
    border: 1px solid #dcdde1;
}
.sidebar > .sidebar-links > li > a.sidebar-link{
    font-size: 1em !important;
}
.nav-link{
  &:hover{
  border-bottom: 2px solid #74b9ff !important;
  }
  &.router-link-exact-active.router-link-active{
  border-bottom: 2px solid #74b9ff !important;
  }
}
a.sidebar-link.active{
  border-left-color: #e84118;
  color:#0097e6
}
a.sidebar-link:hover{
  color:#0097e6 !important
}
.swal-modal {
  width: 200px;
  background-color: rgba(63, 255, 106, .8);
  border: 3px solid white;
}
.swal-text {
  font-size: 20px;
  background-color: #FEFAE3;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}
.fail{
  width: 200px;
  background-color: rgba(232, 65, 24,.8);
  border: 3px solid white;
}
// .bgvue{
//   position:absolute;
//   z-index:1000;
// }
#particles-js{
  z-index:1;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}
// .father{
//   position:relative;
//   height:100%
// }
.theme-container,.theme-container.no-sidebar{
  position:relative !important;
  z-index:2 !important;
}
body{
  font-family: Comic Sans MS,Helvetica Neue,'楷体',-apple-system,sans-serif!important;
  cursor:url('https://cdn.jsdelivr.net/gh/peinkid/blog@cursor/docs/.vuepress/public/default.cur'),auto !important;
}